#fondo { 
    -fx-background-color: #660099; 
}

Button { 
    /* -fx-background-color: #49b31800;
    -fx-background-radius: 10 10 10 10;
    -fx-border-radius: 10 10 10 10; */
    -fx-background-image: url(../imagenes/icons8-task-250.png);
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 90%;
}

Button:hover { 
    -fx-background-color: #00df82;
}

Button:pressed { 
    -fx-background-color: #ffffff;
    -fx-font-weight: bold;
}

/* Button:focused{
	-fx-background-color:  rgba(46,47,47,0.5);
} */