.text-field:focused{
    -fx-faint-focus-color: transparent;
    -fx-focus-color:rgba(255,0,0,0.2); /* here rgba (corrected) */
}
*{
	background: rgba(0,0,0,0.0);
}
.btn{
	-fx-background-color: rgba(0,0,0,0.0);
}
.btn:focused{
	-fx-background-color:  rgba(46,47,47,0.5);
}
.root{
	-fx-background-color: linear-gradient(to bottom right, #00AA91, #7DD13B);
}
.btnActividad{
   -fx-background-image: url(../imagenes/icons8-task-250.png);
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0%;
}
.btnProceso{
  -fx-background-image: url(../imagenes/icons8-service-50.png);
  -fx-background-size: 40px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 0%;
}
.btnTarea{
  -fx-background-image: url(../imagenes/icons8-activity-feed-208.png);
  -fx-background-size: 40px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 5%;
}
.btnCerrar{
  -fx-background-image: url(../imagenes/icons8-macos-close-32.png);
  -fx-background-size: 40px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: 0%;
}