Button { 
    -fx-background-color: #49b31800;
    -fx-font-align: left;
    -fx-background-radius: 10 10 10 10;
    -fx-background-image: url(../imagenes/icons8-view-more-64.png);
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 0%;
}

Button:hover { 
    -fx-background-color: #00df824b;
}

Button:focused {
    -fx-background-color: #00df824b;
}